appdirs==1.4.4
arrow==0.15.8
attrs==19.3.0
backcall==0.2.0
binaryornot==0.4.4
bleach==3.1.5
cachecontrol==0.12.6
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.3
comet-ml==3.2.8
configobj==5.0.6
cookiecutter==1.7.2
cycler==0.10.0
cython==0.29.21
cytoolz==0.11.0
dask==2.30.0
decorator==4.4.2
defusedxml==0.6.0
deprecated==1.2.10
distlib==0.3.1
docopt==0.6.2
dulwich==0.20.14
entrypoints==0.3
everett==1.0.3
filelock==3.0.12
future==0.18.2
graphtools==1.5.1
hdmedians==0.13
idna==2.10
imageio==2.9.0
ipykernel==5.3.4
ipython-genutils==0.2.0
ipython==7.16.1
ipywidgets==7.5.1
jedi==0.17.2
jinja2-time==0.2.0
jinja2==2.11.2
joblib==0.17.0
jsonschema==3.2.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyter==1.0.0
kiwisolver==1.3.0
llvmlite==0.33.0
lockfile==0.12.2
markupsafe==1.1.1
matplotlib==3.2.2
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mlxtend==0.17.3
msgpack==1.0.0
natsort==7.0.1
nbconvert==5.6.1
nbformat==5.0.7
netifaces==0.10.9
networkx==2.5
notebook==6.0.3
numba==0.50.1
numexpr==2.7.1
numpy==1.18.5
nvidia-ml-py3==7.352.0
olefile==0.46
packaging==20.4
pandas==1.1.3
pandocfilters==1.4.2
parso==0.7.1
phate==1.0.4
pickleshare==0.7.5
pillow==8.0.1
pip==20.2.4
pipenv==2020.8.13
pipreqs==0.4.10
poyo==0.5.0
prometheus-client==0.8.0
prompt-toolkit==3.0.5
pydiffmap==0.2.0.1
pygments==2.6.1
pygsp==0.5.1
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
python-slugify==4.0.1
pytz==2020.1
pywavelets==1.1.1
pywin32==228
pywinpty==0.5.7
pyyaml==5.3.1
pyzmq==19.0.1
qtconsole==4.7.5
qtpy==1.9.0
requests==2.24.0
s-gd2==1.7
scikit-bio==0.5.6
scikit-image==0.17.2
scikit-learn==0.23.1
scipy==1.5.2
scprep==1.0.5.post2
seaborn==0.11.0
send2trash==1.5.0
setuptools==50.3.1.post20201107
sip==4.19.13
six==1.15.0
src==0.1
tadasets==0.0.4
tasklogger==1.0.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
threadpoolctl==2.1.0
tifffile==2020.10.1
toolz==0.11.1
torch==1.5.1
torchvision==0.6.1
tornado==6.0.4
traitlets==4.3.3
umap-learn==0.4.6
urllib3==1.25.10
virtualenv-clone==0.5.4
virtualenv==20.0.31
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
wheel==0.35.1
widgetsnbextension==3.5.1
wincertstore==0.2
wrapt==1.12.1
wurlitzer==2.0.1
yarg==0.1.9